
/* navbar */
  .user-img{
    border-radius: 50%;
    width: 50%;
}



/* login - register */

.google-logo {
    width: 30px;
    border-radius: 5px;
  }


  /* profile */

  .profile-img {
    height: 150px;
    width: 180px;
  }